<div class="containerdash">
		<div class="navigation">
			<ul>
				<li>
					<a >
						
						<span class="title"><h2>CLINICA BILBAO </h2></span>
					</a>
				</li>
				
			 

				<li>
					<a href="/aplicacion/Usuario">
						<span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<span class="title">Usuario</span>
					</a>
				</li>
				<li>
					<a href="/aplicacion/paciente">
						<span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
						<span class="title">Paciente </span>
					</a>
				</li>
					<li>
					<a href="/aplicacion/categorias">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">categorias</span>
					</a>
				</li>
			
			
				<li>
					<a href="/aplicacion/Personal">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Personal</span>
					</a>
				</li>

								<li>
					<a href="/aplicacion/Analisis">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Analisis</span>
					</a>
				</li>
								<li>
					<a href="/aplicacion/Consultas">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Consultas</span>
					</a>
				</li>
								<li>
					<a href="/aplicacion/Resultados">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">resultados</span>
					</a>
				</li>
								</li>
								<li>
					<a href="/aplicacion/DetalleVentas">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Detalle Ventas</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="topbar">
				<div class="toggle" onclick="toggleMenu()"></div>
				
			</div>
		

			<div class="details">
				<div class="recentOrders">
					  <div class="cardHeader">
						<h2>ADICIONAR </h2>

						
					</div>
	
                        <form action="/aplicacion/analisisAdi" method="POST">
                                    
							
								<fieldset>
									<legend>Seleccione un paciente activo:</legend>

									<div>
										{{#if ListaPaciente}}
										{{#each ListaPaciente}}
										{{#each this}}
										<input type="radio" id={{Nombres}} name="Nombre" value={{Nombres}}
												checked>
										<label for={{Nombres}}>{{Nombres}}-{{Apellidos}}</label>
										{{/each}}
										{{/each}}
										{{/if}}
									</div>
                                 
								</fieldset>
								<fieldset>
									<legend>Seleccione una categoria:</legend>

									<div>
										{{#if pedo}}
										{{#each pedo}}
										{{#each this}}
										<input type="radio" id={{id}} name="idcategoria_id" value={{id}}
												checked>
										<label for={{id}}>{{Descripcion}}</label>
										{{/each}}
										{{/each}}
										{{/if}}
									</div>
                                 
								</fieldset>
                                
									<fieldset>
									<legend>Seleccione un personal activo:</legend>

									<div>
										{{#if caca}}
										{{#each caca}}
										{{#each this}}
										<input type="radio" id={{id}} name="idpersonal_id" value={{id}}
												checked>
										<label for={{id}}>{{Nombres}}</label>
										{{/each}}
										{{/each}}
										{{/if}}
									</div>
                                 
								</fieldset>

								<input type="text" name="Descripcion" placeholder="Descripcion">
								<input type="text" name="Precio" placeholder=" Precio ">
								<input type="submit" value="adicionar categorias ">
						</form>


				 
                          
					


				</div>

			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		function toggleMenu(){
			let navigation = document.querySelector('.navigation');
			let toggle = document.querySelector('.toggle');
			let main = document.querySelector('.main');
			navigation.classList.toggle('active');
			toggle.classList.toggle('active');
			main.classList.toggle('active');
		}
	</script>