{{#if infoAdmin}}
<div class="containerdash">
		<div class="navigation">
						<ul>
				<li>
					<a >
						
						<span class="title"><h2>CLINICA BILBAO </h2></span>
					</a>
				</li>
				
			 

				<li>
					<a href="/aplicacion/Usuario">
						<span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<span class="title">Usuario</span>
					</a>
				</li>
				<li>
					<a href="/aplicacion/paciente">
						<span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
						<span class="title">Paciente </span>
					</a>
				</li>
					<li>
					<a href="/aplicacion/categorias">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Departamentos</span>
					</a>
				</li>
			
			
				<li>
					<a href="/aplicacion/Personal">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Personal</span>
					</a>
				</li>

								<li>
					<a href="/aplicacion/solicitudes">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Solicitudes</span>
					</a>
				</li>
								<li>
					<a href="/aplicacion/facturas">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Facturas</span>
					</a>

								</li>
								<li>
					<a href="/aplicacion/logOut">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Salir </span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="topbar">
				<div class="toggle" onclick="toggleMenu()"></div>
				
			</div>
		

			<div class="details">
				<div class="recentOrders">
					  <div class="cardHeader">
						<h2>LISTA DE DEPARTAMENTOS </h2>
						<span class="status delivered">
								     <a href="/aplicacion/adicionarCat/" >Adicionar categorias </a>
									   
								   </span>
								   
					</div>
	


   
                
    {{#each infoAdmin }}
<div id="table-wrapper" style="background-image:  url('/img/loginAtras.jpg');">
  <div id="table-scroll">
        
    <table>
        
        <thead>
				
            <tr>                                
                				
                                      
									<th><p> DEPARTAMENTO DE {{nombreDep}} CON ID {{idDep}}<br> <span class="status delivered">
								     <a href="/aplicacion/adicionarServ/{{idDep}}" >Adicionar Servicio </a>
									   
								   </span> 	&nbsp;	<span class="status return">
								     <a href="/aplicacion/eliminarCat/{{idDep}}" >eliminar  categorias </a>
									   
								   </span></p></th>
 

									
            </tr>
        </thead>
     {{#each servicios}}	
        <tbody>
        <tr>                       
			                      
            						<td><h5> ID-SERVICIO : </h5>{{idServ}}</td>
									<td><h5> NOMBRE : </h5>{{nombreServ}}</td>
                                    <td><h5> Precio :</h5>{{costo}}</td>
								
                                    <td><span class="status return">
									      <a href="/aplicacion/eliminarServ/{{idServ}}" >eliminar Servicio</a>
										   
									   </span>
                                  </td>
								  <td><span class="status delivered">
								     <a href="/aplicacion/adicionarServ/{{idServ}}" >Editar Servicio </a>
									   
								   </span>
                                  </td>
                             
        </tr>

        </tbody>  
     
          {{/each}}        	
    </table>
    
  </div>
</div>
      {{/each}}    
				</div>

			</div>
		</div>
	</div>
	

	
	<script type="text/javascript">
		function toggleMenu(){
			let navigation = document.querySelector('.navigation');
			let toggle = document.querySelector('.toggle');
			let main = document.querySelector('.main');
			navigation.classList.toggle('active');
			toggle.classList.toggle('active');
			main.classList.toggle('active');
		}
	</script>
	{{/if}}

	{{#if infoDoc}}
<div class="containerdash">
		<div class="navigation">
						<ul>
				<li>
					<a >
						
						<span class="title"><h2>CLINICA BILBAO </h2></span>
					</a>
				</li>
				
			 

				<li>
					<a href="/aplicacion/Usuario">
						<span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<span class="title">MI PERFIL</span>
					</a>
				</li>
				<li>
					<a href="/aplicacion/paciente">
						<span class="icon"><i class="fa fa-wheelchair" aria-hidden="true"></i></span>
						<span class="title">MIS PACIENTES </span>
					</a>
				</li>
					<li>
					<a href="/aplicacion/categorias">
						<span class="icon"><i class="fa fa-medkit" aria-hidden="true"></i></span>
						<span class="title">MIS SERVICIOS</span>
					</a>
				</li>
			


								<li>
					<a href="/aplicacion/solicitudes">
						<span class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
						<span class="title">SOLICITUDES</span>
					</a>
				</li>
								
							
								<li>
					<a href="/authentication/logOut">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">SALIR</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="topbar">
				<div class="toggle" onclick="toggleMenu()"></div>
				
			</div>
		

			<div class="details">
				<div class="recentOrders">
					  <div class="cardHeader">
						<h2>LISTA DE SERVICIOS </h2>
					
								   
					</div>
	



                
    {{#each infoDoc }}
<div id="table-wrapper">
  <div id="table-scroll">

    <table>
        
        <thead>
				
            <tr>                                
                					
									<th><p> mis servicios {{nombre}} {{apellidos}} CON ID {{idUsuarios}}<br> 
									
									       DEPARTAMENTO: {{nombreDep}}
								    </p></th>
								
            </tr>
        </thead>
     {{#each departamento}}	
        <tbody>
        <tr>                       
			                      
            						<td><h5> ID-SERVICIO : </h5>{{idServ}}</td>
									<td><h5> NOMBRE : </h5>{{nombreServ}}</td>
                                    <td><h5> Precio :</h5>{{costo}} BS</td>
                                    <td><h5></h5>{{codsto}}</td>
									
							
        </tr>

        </tbody>  
       {{/each}}
                	
    </table>
    
  </div>
</div>
      {{/each}}    
				</div>

			</div>
		</div>
	</div>
	

	
	<script type="text/javascript">
		function toggleMenu(){
			let navigation = document.querySelector('.navigation');
			let toggle = document.querySelector('.toggle');
			let main = document.querySelector('.main');
			navigation.classList.toggle('active');
			toggle.classList.toggle('active');
			main.classList.toggle('active');
		}
	</script>
	{{/if}}



	{{#if infoPac}}
<div class="containerdash">
		<div class="navigation">
	<ul>
				<li>
					<a >
						
						<span class="title"><h2>CLINICA BILBAO </h2></span>
					</a>
				</li>
				
			 

				<li>
					<a href="/aplicacion/Usuario">
						<span class="icon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
						<span class="title">MI PERFIL</span>
					</a>
				</li>
				<li>
					<a href="/aplicacion/solicitudes">
						<span class="icon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
						<span class="title">MI HISTORIAL </span>
					</a>
				</li>
					<li>
					<a href="/aplicacion/categorias">
						<span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
						<span class="title">SOLICITAR SERVICIOS</span>
					</a>
				</li>
			

								<li>
					<a href="/aplicacion/resultados">
						<span class="icon"><i class="fa fa-wpforms" aria-hidden="true"></i></span>
						<span class="title">MIS RESULTADOS</span>
					</a>
				</li>
								
							
								<li>
					<a href="/authentication/logOut">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">salir</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="topbar">
				<div class="toggle" onclick="toggleMenu()"></div>
				
			</div>
		

			<div class="details">
				<div class="recentOrders">
					  <div class="cardHeader">
					     	<h2>LISTA DE DEPARTAMENTOS </h2>
				      </div>
	



                
    {{#each infoPac }}
<div id="table-wrapper" style="background-image:  url('/img/loginAtras.jpg');">
  <div id="table-scroll">
   
    <table>
        
        <thead>
				
            <tr>                                
                					
									<th><p> DEPARTAMENTO DE {{nombreDep}} CON ID {{idDep}}</p></th>
								
            </tr>
        </thead>
     {{#each servicios}}	
        <tbody>
        <tr>                       
			                      
            						<td><h5> ID-SERVICIO : </h5>{{idServ}}</td>
									<td><h5> NOMBRE : </h5>{{nombreServ}}</td>
                                    <td><h5> Precio :</h5>{{costo}}</td>
								

								  <td>
									                      <form action="/aplicacion/solicitudes/adicionar" method="POST" id="nuevoUsu" >
                                                             <input type="date" name="fecha" > 
															 <input type="hidden" name="idServ" value={{idServ}}> 
													         <input type="submit" value="enviar fecha">
											             </form>
                                  </td>
                             
        </tr>

        </tbody>  
       {{/each}}
                	
    </table>
     
  </div>
</div>
      {{/each}}    
				</div>

			</div>
		</div>
	</div>
	

	
	<script type="text/javascript">
		function toggleMenu(){
			let navigation = document.querySelector('.navigation');
			let toggle = document.querySelector('.toggle');
			let main = document.querySelector('.main');
			navigation.classList.toggle('active');
			toggle.classList.toggle('active');
			main.classList.toggle('active');
		}
	</script>
	{{/if}}